<div class="page-header">
  <h1>Utah Car and Truck Tips <small>for finding and maintaining your car</small></h1>
</div>
<div id="articles-wrap">
  <div class="span3">
    <h2>Buying</h2>
    <p>Browse our collection of articles
    aimed to help you buy a car or truck in Utah.</p>
    <p><a class="btn" href="/car-articles/buying/">Buying Cars &raquo;</a></p>
  </div>
  <div class="span3">
    <h2>Financing</h2>
    <p>Tips to find financing for utah used cars.</p>
    <p><a class="btn" href="/car-articles/financing/">More Financing &raquo;</a></p>
  </div>
  <div class="span3">
    <h2>Maintenance</h2>
    <p>Common car maintenance articles
    to help you get the most out of your car.</p>
    <p><a class="btn" href="/car-articles/maintenance/">Maintenance Tips &raquo;</a></p>
  </div>
  <div class="span3">
    <h2>Great Cars for Utah</h2>
    <p>Explore some of the more popular
    make and model of cars found in Utah.</p>
    <p><a class="btn" href="/car-articles/great-utah-cars/">Great Utah Cars &raquo;</a></p>
  </div>
</div>

<div class="index-buffer"></div>



