<% if !notice.nil? %>
  <p class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <%= notice %>
  </p>
<% end %>
<% if !alert.nil? %>
  <p class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <%= alert %>
  </p>
<% end %>
