<hr>
<footer>
<div id="footer-right"><p><a href="/how-it-works/">How It Works</a> |
  <a href="/car-articles/">Car Tips</a> | <a href="/contact/">Contact</a></p></div>
<p>&copy; Car Compass 2013</p>
<br />
<small>Car Compass is a realtime automobile search. We serve all of Utah,
from Ogden and Salt Lake to Provo and Orem. Our goal is to make finding your next car a fun and simple experience.</small>
</footer>
<br />
<br />
