<h2>How it works</h2>
<p>Car Compass is a new and simple way to
look for both new and used cars, trucks, and SUVs in Utah.</p>
<p>When you submit a form to <a href="/" >Car Compass</a> we send a message
to all the car dealerships in Utah that are part of our network.<br />
They respond in real-time letting us know
if they have the car or truck you're looking
for. If they do, we'll send you a text message
letting you know what dealerships
have the car you're looking for.</p>
<p>It's a new, easier way to look for your next car. And we don't share your information
with anyone, unless you tell us to.</p>

