<h1>We Don't Share Your Information</h1><br />
<p>We respect your personal information and don't share anything, unless you want
us to.</p>
<p>When you ask Car Compass to search for a Utah car or truck, we message all the 
Utah dealerships, which are part of our network, in realtime. If they respond saying
they have the car or truck you're looking for, we text that dealership's
information to you. Your info stays and you get the most accurate, up-to-date
inventory for Utah car dealerships.</p><br /><br />

