<div class="make-a-payment">
  <!-- <p class="lead"> -->
  <h1>
  Thank You!
  </h1>
  <br />
  <!--</p> -->
  <p class="lead">
  You're now a part of the Car Compass network
  <br />
  the next lead will be coming to your phone soon!
  </p>
  <p class="lead">
  Don't forget, you can contact us at any time, info@mycarcompass.com
  </p>

</div>
