<div class="span3-buffer"></div>
<div class="span3">
  <h2>We don't share</h2>
  <p>We don't share your infomration.<br />
  Your phone number is only used so we can text you the dealerships that 
  have the car or truck you're looking for.</p>
  <p><a class="btn" href="/privacy/">We Keep Your Info Safe &raquo;</a></p>
</div>
