<div class="vehicle-features">
  <h3>Summary</h3>
  <p class="individual-summary">
  <%= @vehicle.description.cap_sentences %>
  </p>
  <%= render :partial => 'show_features', :vehicle => @vehicle %>
  <p class="individual-summary">
  <div class="align-btn">
    <%= link_to "#{@vehicle.dealer.dealership} Inventory", dealer_inventory_path(@vehicle.dealer.id), :class => "btn btn-large btn-block btn-primary" %>
  </div>
  </p>
</div><!-- vehicle features -->
<div class="spacer"></div>
