<p>
Name: <%= @message.name %><br />
Email: <%= @message.email %><br />
Subject: <%= @message.subject %><br />
Body: <%= @message.body %><br />
</p>
<p>
-The Car Compass Team<br />
www.mycarcompass.com</p>
