<p><%= @dealer.dealership %>,</p>
<p>We were unable to process the payment for your Car Compass subscription.</p>
<p>As a result we have put your account on hold until we receive payment. 
You will no longer receive leads from Car Compass until you contact us with updated payment information.</p>
<p>Please email us at info@mycarcompass.com or call us at 801-502-6504 at your earliest convenience.</p>
<p>-The Car Compass Team<br />
www.mycarcompass.com</p>

