<p>Thank you for joining Car Compass!</p>
<p>You will now begin to receive leads from our realtime text-messaging network. 
Your initial subscription of $1000 has been paid in full. We will continue your subscription monthly.
You may cancel at any time by contacting us.</p>
<p>If you have any questions, please email us at info@mycarcompass.com</p>
<p>-The Car Compass Team<br />
www.mycarcompass.com
</p>
